.doc_block {
    table {
        border-top: 1px solid var(--bs-border-color);
    }
}

.doc_block,
.docs_by_fund {
    tr {
        transition: background-color var(--transition);
        &:hover {
            background-color: var(--col-grey-200);
        }
    }
}

.docs_by_fund {

    .column1 {
        width: auto;
    }
    .column2 {
        width: 100px;
        text-align: end;
    }
    .column3 {
        width: 60px;
        text-align: center;
    }
}