.fund_hero {
    .button {
        position: relative;
        &::after {
            position: relative;
            display: inline-block;
            content: "";
            background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M14.2929 7.29289L11 10.5858V0H9V10.5858L5.70711 7.29289L4.29289 8.70711L10 14.4142L15.7071 8.70711L14.2929 7.29289ZM20 18V14H18V18H2V14H0V18C0 19.1046 0.89543 20 2 20H18C19.1046 20 20 19.1046 20 18Z' fill='%23fff'%3E%3C/path%3E%3C/svg%3E");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            width: 1em;
            height: 1em;
            margin-left: 0.5em;
            vertical-align: text-top;
        }
    }
}
.ticker {
    &__date {
        font-size: var(--fs-300);
    }
    &__symbol {
        font-size: var(--fs-400);
        font-weight: var(--fw-500);
    }
    &__price {
        font-size: 38px;
        font-weight: var(--fw-500);
        line-height: 1;
        padding-bottom: 0.25em;
    }
    &__change {
        font-size: var(--fs-400);
        font-weight: var(--fw-500);
        position: relative;
        &::before {
            content: "";
            position: relative;
            display: inline-block;
            width: 14px;
            height: 20px;
            margin-right: 0.25rem;
            background-repeat: no-repeat;
            background-size: contain;
            vertical-align: text-top;
        }
        &--up::before {
            background-image: url("data:image/svg+xml,%3Csvg width='14' height='20' viewBox='0 0 14 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m7,0l7,7-1.4,1.4-4.6-4.57v16.17h-2V3.83L1.4,8.43l-1.4-1.43L7,0Z' fill='%23333'/%3E%3C/svg%3E");
        }
        &--down::before {
            background-image: url("data:image/svg+xml,%3Csvg width='14' height='20' viewBox='0 0 14 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 20L0 13L1.4 11.6L6 16.175V0H8V16.175L12.6 11.575L14 13L7 20Z' fill='%23333'/%3E%3C/svg%3E");
        }
    }
}
.fund_subnav {
    &--ascot {
        --_bg: var(--col-green-400);
        --_fg: white;
    }
    &--agvit {
        --_bg: var(--col-yellow-400);
        --_fg: var(--col-dark);
    }
    &--afund {
        --_bg: var(--col-blue-900);
        --_fg: white;
    }
    &--aslit {
        --_bg: var(--col-orange-400);
        --_fg: var(--col-dark);
    }

    background-color: var(--_bg);
    color: var(--_fg);
    margin-bottom: 3rem;
    a {
        padding: 1rem 2rem;
        color: var(--_fg);
        &.active {
            background-color: white;
            color: var(--col-dark);
        }
    }
}