.hero {
  height: 400px;
  position: relative;

  &__bg {
    position: absolute;
    inset: 0;
    object-fit: cover;
    height: 100%;
    width: 100%;
    z-index: -1;
  }
  .container-xl {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__inner {
    display: grid;
    gap: 1rem;
    place-content: center;
    text-align: center;
    justify-self: center;
    padding: 2rem;
    background-color: hsl(0 0 0 / 0.6);
  }
  &__cta {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
  }
}
