.trusts_funds {
    background-color: var(--col-blue-200);
    .card {
        border-radius: 0;
    }
    &__card {
        height: 100%;
        border: 1px solid var(--_bg);
        background-color: white;
        display: flex;
        flex-direction: column;
        height: 100%;
        border-radius: 0; /* Remove rounded corners */
    }
    &__header {
        padding: 1.5rem 2rem;
        background-color: var(--_bg);
        color: var(--_fg);
        margin-bottom: 0;
    }
    &__inner {
        padding: 1rem 2rem 2rem 2rem;
        flex-grow: 1;
    }

    .lined {
        border-top: 1px solid var(--col-grey-200);
        border-bottom: 1px solid var(--col-grey-200);
        display: flex;
        align-items: center;
        justify-content: space-between;

        .bar {
            border-left: 1px solid var(--col-grey-200);
        }
    }

    .lined-top {
        border-top: 1px solid var(--col-grey-200);
    }

    .tickers {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .stats {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        flex-wrap: wrap;
        &__title {
            font-size: var(--fs-400);
            font-weight: var(--fw-500);
        }
        &__value {
            font-size: 38px;
            font-weight: var(--fw-500);
        }
        &__date {
            font-size: var(--fs-300);
        }
    }

}

.theme--ascot {
    --_bg: var(--col-green-400);
    --_fg: white;

    .trusts_funds__inner {
        display: grid;
        gap: 1rem;
        grid-template-rows: auto 3rem auto 3rem;
    }
}
.theme--agvit {
    --_bg: var(--col-yellow-400);
    --_fg: var(--col-dark);
    .trusts_funds__inner {
        display: grid;
        gap: 1rem;
        grid-template-rows: auto 3rem auto 3rem;
    }

}
.theme--afund {
    --_bg: var(--col-blue-900);
    --_fg: white;
    .trusts_funds__inner {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}
.theme--aslit {
    --_bg: var(--col-orange-400);
    --_fg: var(--col-dark);
    .trusts_funds__inner {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}