.footer {
  background-color: black;

  &__menu {
    ul {
      list-style: none;
      padding-inline-start: 0;
    }
  }
  a {
    color: var(--col-blue-400);
    transition: color var(--transition);
    text-decoration: none;
    &:hover {
      color: white;
    }
  }

  .colophon {
    font-size: var(--fs-300);
    color: var(--col-blue-400);
  }
}
