$col-primary: #5d7f9c;
$col-dark: #666666;
$col-darkest: #4a4a4a;
$col-light: #f2f2f2;

:root {
  /* Colours */
  --hsl-dark: 0 0% 20%; // black
  --col-dark: hsl(var(--hsl-dark));

  --hsl-light: 0 0% 98%; // light grey
  --col-light: hsl(var(--hsl-light));

  --hsl-blue-400: 215 68% 16%; // #0d2444
  --col-blue-400: hsl(var(--hsl-blue-400));

  --hsl-blue-100: 205 14% 68%; // #a3b0b9
  --col-blue-100: hsl(var(--hsl-blue-100));

  /* Font Sizes */
  /* Larger sizes */
  --font-h1: 9.167rem; /* 146.67px */
  --font-h2: 7.633rem; /* 122.13px */
  --font-h3: 6.364rem; /* 101.83px */
  --font-h4: 5.321rem; /* 85.13px */
  --font-h5: 3.692rem; /* 59.08px */

  /* Highlights */
  --font-larger-highlight: 4.429rem; /* 70.87px */
  --font-smaller-highlight: 3.078rem; /* 49.24px */

  /* Normal & small text */
  --font-large-text: 0.667rem; /* 10.67px */
  --font-blog-heading: 0.833rem; /* 13.33px */
  --font-button-text: 0.556rem; /* 8.89px */
  --font-mouse-text: 0.463rem; /* 7.41px */

  /* Font Families */
  --ff-body: "Barlow", Tahoma, Geneva, Verdana, sans-serif;
  --ff-heading: "MetaSerif", Tahoma, Geneva, Verdana, sans-serif;

  /* Font Weights */
  --fw-400: 400;
  --fw-500: 500;
  --fw-700: 700;
  --fw-800: 800;

  /* Effects */
  --transition: 250ms ease-out;

  /* Site General */
  --h-top: 90px;
  --h-top-desktop: 125px;
}

#complianceModal {
  --bs-modal-width: min(800px, 90vw);
  --bs-modal-margin: 6rem;
}
