/* barlow-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/barlow-v12-latin-regular.woff2") format("woff2");
}
/* barlow-700 - latin */
@font-face {
  font-display: swap;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/barlow-v12-latin-700.woff2") format("woff2");
}
/* barlow-700 - latin */
@font-face {
  font-display: swap;
  font-family: "MetaSerif";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/MetaSerifWeb W06 MediumItalic.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "MetaSerif";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/MetaSerifWeb W07 Extrabold.woff2") format("woff2");
}

:root {
  font-variant-ligatures: none;
}

html {
  font-size: 16px;
}

body {
  font-family: var(--ff-body);
  font-weight: var(--fw-400);
  font-size: 1rem;
  // line-height: 1.556;
  line-height: 1.4;
  font-style: normal;
  color: var(--col-darkest);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
  font-family: var(--ff-heading);
  font-weight: var(--fw-800);
  line-height: 1.1;
  text-wrap: balance;
  margin-bottom: 0.5em;
}

h1,
.h1 {
  font-size: var(--font-h1);
}
h2,
.h2 {
  font-size: var(--font-h2);
}
h3,
.h3 {
  font-size: var(--font-h3);
}
h4,
.h4 {
  font-size: var(--font-h4);
}
h5,
.h5 {
  font-size: var(--font-h5);
}

.fw-400 {
  font-weight: var(--fw-400);
}
strong,
.fw-bold,
.fw-500 {
  font-weight: var(--fw-500);
}

.text-balance {
  text-wrap: balance;
}

.w-constrained {
  max-width: 65ch;
}

// p:not([class]) {
//     max-width: 70ch;
// }
